# Add the environment variables for the various stages
prod:
  SRFAX_ACCESS_ID: "PROD_SRFAX_ACCOUNT"
  SRFAX_ACCESS_PWD: "PROD_SRFAX_ACCOUNT"
  INCOMING_FAX_BUCKET: "YOUR_S3_BUCKET"
dev:
  SRFAX_ACCESS_ID: "DEFAULT_SRFAX_ACCOUNT"
  SRFAX_ACCESS_PWD: "DEFAULT_SRFAX_ACCOUNT"
  INCOMING_FAX_BUCKET: "YOUR_S3_BUCKET"  